/*globles*/
*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
}
.bg-main{
    background-color: #6C1835;
}
.main-color{
    background-color: #6C1835;
    
}




/*navbar*/




/*Home-header*/
.home-header{
    background-color: red;
    height: 100vh;
    
}
.carousel-indicators{
    display: none;
}
.carousel,
.carousel-inner,
.img-fluid{
    height: 100%;
}
.carousel-caption {
    position: absolute;
    right:unset;
    bottom: unset;
    top: 30%;
    left: 13%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: start;
}


.carousel-control-prev, .carousel-control-next {
    position: absolute;
    top: 70%;
    left: 20%;
    bottom: unset;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #FFF;
    padding: 0;
    color: #fff;
    text-align: center;
    opacity: 0.5;
    transition: opacity 0.15s ease;
    cursor: pointer;
    /* background-color: black !important; */
}
.carousel-control-prev{
    top: 70%;
    left: 13%;
    bottom: unset;
}
.carousel-control-next{
    top: 70%;
    left: 17%;
    bottom: unset;
}