/*globles*/
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,400;0,700;0,900;1,400;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
    font-family: 'Figtree', sans-serif;
}
.bg-main{
    background-color: #6C1835;
}
.main-color{
    background-color: #6C1835;
    
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}


/*navbar*/




/*Home-header*/
.home-header{
    /* background-color: #5E152E; */
    background-image: url('~/assets/images/header-bacground1.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
    /* padding-top: 70px; */
    
}
.home-header:dir(rtl){
    transform: rotateY(180deg);
    
}
.head-content:dir(rtl){
    transform: rotateY(-180deg);
    text-align: right;
}

.head-content{
    height: 100%;
    display: flex;
    align-items: center;
    text-align: left;

}
.head-content h1{
    color: #FFF;
    font-weight: 700;
    font-size: 3rem;
}
.head-content p{
    color: #FFFFFF;
    opacity: 0.5;
    letter-spacing: 0px;
    margin: 10px 0 20px 0;

}
.head-content button{
    background-color: #FFF;
    color: #881E43;
    padding: 15px 40px;
    margin-top: 10px;
    border: 1px solid #FFF;
    border-radius: 10px;
    font-weight: 600;
    font-size: 15px;
    box-shadow: 0;
    transition: box-shadow 1s;
    transform: perspective(1px) translateZ(0);
}
.head-content button:hover{
    color: white;
	box-shadow: 0 0 0 4px rgba(250, 250, 250, 0.1)

}
.head-content button::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0;
	clip-path: circle(0.5% at 50% 50%);
    background-color: #881E43;
    border: 0;
    transition: 0.4s;
	opacity: 1;
    border-radius: 10px;
    transition:  clip-path 1s;
}

.head-content button:hover::before {
	clip-path: circle(100% at 50% 50%);
}

/*services*/
.our-services:dir(rtl){
    text-align: right;
}
.our-services .colum {
    padding-right: 10px;
    padding-left: 10px;
}
.our-services h2 {
    font-weight: 700;
    font-size: 3rem;

}
.our-services h2 span{
    color: #881E43;
}
.service{
    border: 1px solid #EEEEEE;
    border-radius: 15px;
    padding: 30px;
    margin-bottom: 20px;
    cursor: pointer;
    box-shadow: 0;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.service:hover{
    box-shadow: 10px 10px #EEEEEE;
    transform: translateX(-7px) translateY(-5px);
    
}
.service:hover:dir(rtl){
    box-shadow: -10px 10px #EEEEEE;
    transform: translateX(7px) translateY(-5px);

}
.service .service-title{
    margin-bottom: 30px;
}
.service .service-title h4{
    font-weight: 700;
}
.service .service-description{
    opacity: 0.65;

}




/*our solutions*/
.our-solutions{
    background-color:#FBF8F9;
    text-align: left;
    margin-top: 60px;
    padding-bottom: 60px;
}
.our-solutions:dir(rtl){
    text-align: right;
}
.our-solutions .solutions-container > h2{
    padding-top: 60px;
    padding-bottom: 30px;
    font-weight: 700;
    font-size: 3rem;
}
.our-solutions span{
    color: #881E43;
}
.our-solutions .solutions-list > li{
    cursor: pointer;
    padding: 10px 30px ;
    margin-bottom: 2px;
    border-radius: 10px;
    font-weight: 500;
    font-size: 18px;
    color: #000000;
    opacity: 0.5;
}
.our-solutions .solutions-list > li.active,
.our-solutions .solutions-list > li:hover{
    
    color: #FFF;
    opacity: 1;
}

.our-solutions .solutions-list > li.active{
    padding: 15px 30px ;
    background-color: #881E43;
}
.our-solutions .solutions-list > li:not(.active):hover{
    background-color: #EDDDE3;
    color: #000000;
    opacity: 0.5;

}

.our-solutions .soultion-details{
    background-color: #FFF;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 15px;
    
}

.our-solutions .soultion-details div{
    width: 50%;
}

.our-solutions .soultion-details .soultion-details-content{
    padding-left: 60px;
}
.our-solutions .soultion-details .soultion-details-content:dir(rtl){
    padding-left: unset;
    padding-right: 60px;
}
.our-solutions .soultion-details .soultion-details-content h2{
    padding-bottom: 20px;
    font-weight: 600;
    font-size: 2.5rem;
}
.our-solutions .soultion-details .soultion-details-content ul{
    margin: 40px 0 60px 0;
    color: #4B4B4B;
}
.our-solutions .soultion-details .soultion-details-content ul li::before {
    content: "\2022";
    color: #881E43;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
  }
.our-solutions .soultion-details .soultion-details-content ul li::before:dir(rtl) {
    margin-left: unset;
    margin-right: -1em;
  }
.our-solutions .soultion-details .soultion-details-img{
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
}
.our-solutions .soultion-details .soultion-details-img img{
  width: 90%;
  height: 80%;
  border-radius: 70px 10px 10px 10px;
}
.our-solutions .soultion-details .soultion-details-img img:dir(rtl) {
  border-radius:  10px  70px 10px 10px;
}
.our-solutions .soultion-details button{
    padding: 15px 40px;
    margin-top: 10px;
    border: 1px solid #881E43;
    border-radius: 10px;
    font-weight: 600;
    font-size: 15px;
    box-shadow: 0;
    transition: box-shadow 1s;
    transform: perspective(1px) translateZ(0);
    background-color: #FFF;
}
.our-solutions .soultion-details button:hover{
    box-shadow: 0 0 0 0px rgb(250 250 250 / 10%);
}
.our-solutions .soultion-details button::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0;
	clip-path: circle(0.5% at 50% 50%);
    background-color: #881E43;
    border: 0;
    transition: 0.4s;
	opacity: 1;
    border-radius: 10px;
    transition:  clip-path 1s;
}

.our-solutions .soultion-details button:hover::before {
	clip-path: circle(100% at 50% 50%);
}

.our-solutions .soultion-details button a{
    color: #881E43;

}
.our-solutions .soultion-details button:hover a{
    color: #FFF;

}


/*our-partners*/
.our-partners:dir(rtl){
    text-align: right;
}
.our-partners h2{
    font-weight: 700;
    font-size: 3rem;
    
}
.our-partners h2 span{
    color: #881E43;
}
.our-partners .des1{
   font-style: italic;
   font-size: 1.4rem;
   color: #000000;
   opacity: 1;
   font-weight: 500;
   margin: 20px 0 5px 0 ;
    
}
.our-partners .des2{
   font-size: 1.1rem;
   color: #4B4B4B;
   opacity: 1;
   font-weight: 500;
    
}
.our-partners .img-contanier img{
    transition:  transform 1s;
}
.our-partners .img-contanier img:hover{
    transform: scale(1.1) ;
    z-index: 999;
}


















/*our-blogs*/
.our-blogs{
    padding-top: 50px;
    direction: ltr;

}
.our-blogs:dir(rtl){
   text-align: right;
}
.our-blogs  h2 {
    text-align: center;
    font-weight: 700;
    font-size: 3rem;
}
.our-blogs .blog  {
    border: 1px solid #EEEEEE;
    border-radius: 15px;
    cursor: pointer;
    margin-bottom: 20px;
    box-shadow: 0;
    transition: box-shadow 0.5s ease-in-out;
    margin: 0 10px 50px 10px;
}
.our-blogs .blog:hover  {
	box-shadow: 0 0 0 10px rgba(250, 250, 250, 0.1);
    
}
.our-blogs .blog img {
    margin-bottom: 15px;
    height: 30vh;

}
.our-blogs .blog div{
    padding-left: 20px;
}
.our-blogs .blog div:dir(rtl){
    padding-left: unset;
    padding-right: 20px;
}
.our-blogs .blog h3{
    margin: 20px 0 20px 0;
    font-weight: bold;
    font-size: 1.3rem;
}
.our-blogs .blog button a{
    color: #881E43;
}
.our-blogs .blog button{
    background-color: transparent;
    border: 0;
    font-weight: 600;
    position: relative;
    padding: 15px ;

}
.our-blogs .blog button::before, 
.our-blogs .blog button::after{
    content:"";
    width: 0;
    height: 2px;
    position: absolute;
    transition: all 0.2s linear;
    background: #881E43;
}
.our-blogs .blog button span::before,
.our-blogs .blog button  span::after{
    content:"";
    width:2px;
    height:0;
    position: absolute;
    transition: all 0.2s linear;
    background: #881E43;
  }
  .our-blogs .blog button:hover::before, 
  .our-blogs .blog button:hover::after{
    width: 100%;
  }
  .our-blogs .blog button:hover span::before,
   .our-blogs .blog button:hover span::after{
    height: 100%;
  }
.our-blogs .blog button::after{
    left: 0;
    bottom: 0;
    transition-delay: 0.6s;
  }
  .our-blogs .blog button::before{
    right: 0;
    top: 0;
    transition-delay: 0.2s;
  }
  
  .our-blogs .blog button:hover::after{
    transition-delay: 0s;
  }
  .our-blogs .blog button:hover::before{
    transition-delay: 0.4s;
  }
  
  .our-blogs .blog button span::after{
    transition-delay: 0.4s;
    right: 0;
    bottom: 0
  }
  .our-blogs .blog button span::before{
    transition-delay: 0s;
    left: 0;
    top: 0;
  }

  .our-blogs .blog button:hover span::after{
    transition-delay: 0.2s;
  }
  .our-blogs .blog button:hover span::before{
    transition-delay: 0.6s;
  }
  

  .owl-nav{
    display: none ;
}

/*faqs*/
:root {
  --color-input: #333333;
}

.faqs{
background-color: #FBF8F9;
}
.faqs .faqs-img{
    max-height: 503px;
    border-radius: 20px;
    background-color: #a41446;
}
.faqs .faqs-img img{
    border-radius: 20px;
}
.faqs h2{
    font-size: 3rem;
}
.faqs span {
  font-weight: 300;
  font-size: clamp(0.8rem, 4vw, 1.4rem);
}

.text-lg {
  font-size: clamp(1.2rem, 8.8vw, 2.8rem);
  font-weight: 600;
}
.text-md {
  font-size: clamp(0.8rem, 5vw, 1.6rem);
  font-weight: 400;
  line-height: 1.3;
}
.text-center {
  text-align: center;
}
.faqs ul{
    margin: 0;
    padding: 0;
}
.faq-accordion {
  display: grid;
  gap: 0.4rem;
  max-width: 50rem;
}
.faq-accordion li{
    background-color: #FFF;
    padding:13px 17px;
    border-radius: 20px;
    list-style: none;

}
.faq-input {
  display: none;
}
.faq-label {
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
    display: flex;
    justify-content: space-between;

    align-items: center;
}
.faq-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height .7s ease-in-out ,padding 1s ease-in-out;
}
.faq-content p {
    font-size: 1rem;
    margin: 2rem;
    margin-left: 0 !important;
    margin-right: 0 !important;
    text-align: justify;

    opacity: 0.7;
}
.faq-input:checked ~ .faq-content {
  max-height: 60rem;
  transition: max-height 1s ease-in-out;
}
.faq-label .icon{
    color: #6C1835;
    padding: 15px;
    border-radius: 50%;
    border: 1px solid #D9D9D9;
    font-size: 13px;
}
.faq-input:checked ~ .faq-label .icon {
  transform: rotate(180deg);
  transition: max-height 1s ease-in-out, padding 1s ease-in-out,transform .2s ease-in-out;
  background-color: #a41446;
  color: #FFF;
}

/*contact*/
.contact{
    background-color: #FBF8F9;
    background-image: url('~/assets/images/contact-bg.svg');
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 15px;

}
.contact form{
    background-color: #FFF;
    padding: 20px;
    border-radius: 15px;
}
.contact form .form-group{
    position: relative;
}
.contact form .form-group label{
    color: red;
    position: absolute;
    top: 0%;
    left: 0px;
}
.contact form .form-group input:focus ~ label
.contact form .form-group input:valid ~ label{
    color: #000 !important;
    position: absolute;

    top: 50%;
    left: 0px;
}
















/* .contact .form-control{
    border-left:0 ;
    padding-left: 0 !important;
}


.contact .form-control:focus{
    color: #495057;
    background-color: #fff;
    border-color: #881E43 !important;
    outline: 0;
    border-left: 0 !important;
    box-shadow: 0 0 0 0.2rem #FFF  !important;
}

.contact .input-group-text{
    background-color: #FFF;
    border-right:0 ;
}
 */

























/*footer*/
.footer{
    background-color: #881E43;
    text-align: left;
}
.footer:dir(rtl) {
    text-align: right;
}
.footer .footer-social img{
    margin: 0 5px;
    cursor: pointer;
}
.footer .footer-social img:hover{
    transform: scale(1.5);
}
.footer .footer-follow-us{
    position: relative;
    /* border-right:1px solid #FFF ; */
}
.footer .footer-logo {
    text-align: left;
    padding-bottom: 16px;
}    
.footer .footer-logo:dir(rtl) {
    text-align: right;
}    
.footer-follow-us::after {
    content: "";
    background-color: #FFF;
    position: absolute;
    top: 0;
    right: -25%;
    width: 1px;
    height: 30px;
    opacity: 0.15;
    
}
.footer .footer-follow-us::after:dir(rtl) {
    right: unset;
    left: -25%;

    
}
.footer hr{
    background-color: #FFF;
    opacity: 0.15;

}
.footer .description,
.footer li a{
    color: #FFF;
    opacity: 0.7;
}
.footer li .fa-arrow-right:dir(rtl){
    transform: rotateY(180deg);
}
.footer li a:hover{
    text-decoration: none;
    opacity: 1;;
}
.footer h4{
    margin-bottom: 20px;
}
.footer .newsletter-email{
    width: fit-content;
    margin-top: 20px;
    
}
.footer .newsletter-email input,
.footer .newsletter-email button{
    background-color: #FFF;
    border: 0;
    padding: 17px 25px;
    
}
.footer .newsletter-email input{
    border-radius: 10px 0 0 10px;    
}
.footer .newsletter-email input:dir(rtl){
    border-radius:0  10px 10px 0;    
}
.footer .newsletter-email input[type=email]:focus{
    border: 0 ;
    outline: 0;
}
.footer .newsletter-email button{
    
    border-radius: 0 10px  10px 0;
    background-image: url('~/assets/images/send-plane-2-line.png');
    background-position: center center;
    background-size: 40%;
    background-repeat: no-repeat;
}
.footer .newsletter-email button:dir(rtl){
    transform: rotateY(180deg);  

}