/*globles*/
.bg-main{
    background-color: #6C1835;
}
.main-color{
    background-color: #6C1835;
    
}




/*navbar*/
.navbar{
    padding: 0.5rem 1rem 0 1rem;
}
.nav-link{
    margin-right: 2rem !important;
    position: relative !important;
    padding-bottom: 15px;
    color: #b2a3a3 !important;
}
.nav-link::before{
    content: '';
    width: 0%;
    height: 2px;
    background-color: #c38ea0;
    position: absolute;
    left:  5px;
    bottom: 0;
    transition:width 3s;

}

.nav-link:hover {
    color: #FFF !important;
}
.nav-link:hover::before{
    content: '';
    width: 90%;
    height: 2px;
    background-color: #c38ea0;
    position: absolute;
    left:  5px;
    bottom: 0;
}


.active .nav-link::before{
    content: '';
    width: 90%;
    height: 2px;
    background-color: #c38ea0;
    position: absolute;
    left:  5px;
    bottom: 0;
}

.navbar-brand,.active .nav-link {
    color: #FFF !important;
}

.close-icon{
    color: #FFF !important;
}
@media screen and (max-width:992px) {
    .active .nav-link::before,
    .nav-link:hover::before{
        content: '';
        width: 8%;
        height: 2px;
        background-color: #c38ea0;
        position: absolute;
        left:  0px;
        bottom: 0;
    }
    
}
/*Home-header*/
.home-header{
    background-color: red;
    height: 100vh;
}